.background{
    background-image: url("contactus2.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.mypic{
    
    border-radius: 50%;
    padding-left:35%;
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%; 
}
.heading{
    text-align: center;
    color: green ;
    padding-top: 8%;
    font-size: 90px;
    font-weight: lighter;
    font-family: 'Luckiest Guy', cursive;
}
.heading2{
    text-align: center;
    color: rgb(177, 171, 171);
    font-size: 40px;
    font-style: italic;
    padding-bottom: 10%;
}
.heading3{
    text-align: center;
    color:rgb(109, 134, 64);
    font-size: 70px;
    font-family: 'Caveat Brush', cursive;
    
}
.para1{
    text-align: center;
    color:bisque;
    font-size: 35px;
font-weight: 800;
font-style: italic;
font-family: 'Kalam', cursive;
}
.para2{
    text-align: center;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 50%;
    color:white;
    font-weight: 500;
}
.para3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: bisque;
    
    font-family: 'Kalam', cursive;
}
.para4,.para6{
    text-align: center;
    font-size: 40px;
    color:rgb(130, 190, 192);
    font-weight: 800;
}
.heading4{
    text-align: center;
    color: green;
    font-family: 'Concert One', cursive;
    font-weight: bold;
    font-size: 50px;

}
.list1,.list2{
    text-align: center;
    color: white;
    font-size: 25px;
    list-style-position: inside;
   font-weight: 700;
    padding-right: 15%;
    padding-left: 8%;

}
.para5{
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    color: bisque;
    font-family: 'Kalam', cursive;
}
.end{
    font-size: 35px;
    text-align: center;
    color: cornsilk;
    font-family:'Caveat Brush', cursive ;
    font-weight: lighter;
}
a{
    color: cyan;
}
a:hover{
    color: darkmagenta;
}
.bye{
    font-family: 'Shadows Into Light', cursive;
    color: pink;
    font-size: 40px;
    text-align: center;
}
.home{
    font-size: 35px;
    font-family: 'Shadows Into Light', cursive;
    text-align: right;
    padding-left: 73%;
}
